// ===============================================================================================
//  File Name: faq.scss
//  Description: FAQ Page Content SCSS
//  ----------------------------------------------------------------------------------------------
//  Item Name: Vuexy React Admin Template
//  Version: 1.0
//  Author: PIXINVENT
//  Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/mixins";
@import "../bootstrap-extended/mixins";

// Core variables and mixins overrides
@import "../core/variables/variables";
@import "~bootstrap/scss/_variables.scss";

@import "../core/variables/components-variables";

.img-box {
  position: relative;
}
.text-box {
  position: absolute;
  bottom: 10px;
  left: 7px;
  width: 170px;
  display: grid;
}
input.chk-1 {
  width: 22px;
  height: 22px;
}
svg.icolor-2 {
  color: #3ba209;
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  padding: 2px;
  margin-top: 4px;
}
.right-side {
  padding: 20px;
  border: 1px solid#cccccc45;
  width: 100%;
  display: inline-block;
}

.file-list {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background: #ccc3;
  float: left;
}
.file-img {
  width: 50px;
  float: left;
}
.file-content {
  width: 183px;
  float: left;
}

.file-content span {
  float: right;
  margin-top: -20px;
  color: #4caf50;
  font-weight: 700;
}
svg.icolor-3 {
    color: #e31f1f;
}